@model KenticoMVCWidgetShowcase.Models.MVCWidgetsPageViewModel
@using Kentico.PageBuilder.Web.Mvc
@using Kentico.Web.Mvc

@{
    ViewBag.Title = "MVC Widgets";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<!-- Banner -->
<section>
    <header class="main">
        <h1>
            @Model.PageInfo.HeaderText
        </h1>
    </header>
    <p>@Model.PageInfo.IntroText</p>
</section>

<section>
    @Html.Kentico().EditableArea("area1")
</section>